---

---


@import url(https://fonts.googleapis.com/css?family=Space+Mono|Ubuntu:400italic,400italic,400,400);

$space-mono: 'Space Mono', monospace;
$ubuntu: 'Ubuntu', monospace;
body {
  font-family: $ubuntu;
  font-weight: normal;

}

footer {
    font-family: $space-mono;
}
.post-div {
  font-family: $space-mono;
  background-color: #cce6ff;
  color: #4d1933;
}
.w3-td, .w3-th{
  color: #4d1933;
}
footer{
  background-color: #cce6ff;
  color: #111;
}

.copy1{
  color: #111;
}


.page-main1{
  background-color: #cce6ff;
  color: #111;
  font-family: $space-mono;

}

.major1 h1{
  color: #8080ff;

}

.bold-p{
  font-weight: bold;
}
