# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: JRJ Cafe

email: 9pagemake7@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  For Food and Coffee lovers alike. Welcome to JRJ Cafe's website.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://localhost:4000" # the base hostname & protocol for your site, e.g. http://example.com
author: Arnel Imperial
street_address: 1234 Somewhere Road
city: Helsinki

zip_code: 55555
country: Finland
phone: (716) 555-5555

# homepage tiles
tiles-source: posts # accepts "posts" or "pages"
tiles-count: 6

# social settings
500px_url:
facebook_url: "https://www.facebook.com/nell.imperial.9"
github_url: "https://github.com/arnelimperial"

googleplus_url: "https://plus.google.com/u/0/117868462839266608628"
instagram_url: "https://www.instagram.com/nelly_i13/"
linkedin_url: "https://www.linkedin.com/in/arnel-imperial-6b059315/"
pinterest_url:
slack_url:
twitter_url: "https://twitter.com/NellyImperial"



# Build settings
markdown: kramdown
sass:
  style: compressed


plugins:
  - jekyll-feed
  - jekyll-seo-tag


# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
